@font-face {
    font-family: pacifico;
    src: url(../../font/Pacifico-Regular.ttf);
}
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: pacifico;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.5;
    background-color: #ffffff;
    color: #212529;
    cursor: url(https://github.com/khieunv05/Kshop-client/blob/main/img/among-us-beautiful-witch-character-pointer.png), default;
}
header{
    overflow-x: hidden;
    /* text-align: center; */
    padding: 16px 0;
    color: #ffffff;
    background-color: #2ed573;
}
header h1{
    position: relative;
    animation: color 3s linear infinite;
}
.container{
    display: flex;
    min-height: 85vh;
}
aside{
    padding:24px 32px;
}
.menu{
    position:sticky;
    top:16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.vr{
    width: 5px;
    background-color: #2ed573;

}
main{
    flex:1;
   padding: 24px 32px;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 560px;
}
.form-control{
    display: flex;
    flex-direction: column;
}
.form-control label{
    font-size: inherit;
    font-family: inherit;

}
.form-control label::after{
    content: " *";
    color: #ff0000;
}
.form-control input{
    height: 40px;
    font-size: inherit;
    font-family: inherit;
    padding: 0px 8px;
}
.form-submit{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-submit input{
    padding: 8px 16px;
    font-size: inherit;
    font-family: inherit;
 }
footer{
    text-align: center;
    color:#ffffff;
    background-color: #212529;
    padding: 16px 0;
}
@keyframes color{
    0%{
        color:red;
        left: 0%;
    }

    20%{
        color:blue;
        left:20%;
    }
    40%{
        color:white;
        left:40%
    }
    60%{
        color:orange;
        left:60%
    }

    80%{
        color:yellow;
        left:80%
    }
    100%{
        color: purple;
        left:100%
    }
}